body {
  margin: 0;
<<<<<<< HEAD
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans Condensed", "Open sans";
}

#root {
  width: 100vw;
  height: 100vh;
=======
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
>>>>>>> a29043baa0c759910703c563eb8b3a0fb9f7500c
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
